<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MangoFeed" value="https://pkgs.dev.azure.com/Novadoom/MangoRestaurant/_packaging/MangoFeed/nuget/v3/index.json" />
    <add key="MessageFeed" value="https://pkgs.dev.azure.com/Novadoom/_packaging/MessageFeed/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>